In [1]:
import pandas as pd
import numpy as np

import requests
from time import sleep
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
# league_dict: dictionary with all years to be scrapped for the league along with unique URL CODE for season
# code: integer with unique URL CODE for league
# league: string with Full League Name
# gender: string "M" or "F"


def get_data(league_dict, code, league, gender):
    
    driver = webdriver.Chrome(r'D:\Justin\Downloads\chromedriver_win32\chromedriver')  # Optional argument, if not specified will search path.
    delay = 3

    #data_types = [['stats', 'standard'], ['shooting', 'shooting'],['passing', 'passing'],
    #              ['passing_types','passing_types'],['gca', 'gca'],['defense', 'defense'],['possession', 'possession'],
    #              ['misc', 'misc']]
    data_types = ['standard', 'keeper', 'shooting', 'playing_time', 'misc']
    df_list = []
    for year in league_dict:
        print('NEW YEAR: ', year)
        year_df = pd.DataFrame()
        url = "https://fbref.com/en/comps/"+ str(code) + "/" + str(league_dict[year])
        for type in data_types:
            #print(code)
            #url = "https://fbref.com/en/comps/"+ str(code) + "/" + str(league_dict[year]) + "/" + type[0] + "/"
            #print(url)
            try:
                driver.get(url)
                #print('hi')
                myElem = WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.ID, 'all_stats_'+type+'_squads')))
                #print(myElem)
                df = pd.read_html(myElem.get_attribute('outerHTML'), header = (0,1))[0]
#                 print(type[1], len(df))
                for col in df.columns:
                    year_col = col
                    if 'Unnamed' in col[0]:
                        year_col =  col[1]
                    if year_col not in year_df.columns:
                        year_df[year_col] = df[col]
            except Exception as e:
                print('not found')
                print(year, type)
        
        #try:
        #    year_df.drop(labels = list(range(25, len(year_df), 26)), axis = 0, inplace = True)
        #    year_df.drop(labels = 'Matches', axis = 1, inplace = True)
        #except:
        #    print('idfk')

        year_df['Season'] = str(year)
        year_df['League'] = league
        year_df['Gender'] = gender
        df_list.append(year_df)
        
    driver.quit()
    full_df = pd.concat(df_list, axis = 0, join = "outer", sort = False)
    return full_df

In [3]:
###### LEAGUE DICTIONARY WHERE KEY = Year  and VALUE = URL CODE for season
belgium_ids = {'2020-2021': ''
              ,'2019-2020': 3216
              ,'2018-2019': 2246
              ,'2017-2018': 1619
              ,'2016-2017': 1514
              ,'2015-2016': 1455
              ,'2014-2015': 721
              ,'2013-2014': 657
              ,'2012-2013': 591
              ,'2011-2012': 523
              ,'2010-2011': 456
              ,'2009-2010': 388
              ,'2008-2009': 329
              ,'2007-2008': 273
              ,'2006-2007': 222
              ,'2005-2006': 177
              ,'2004-2005': 140
              ,'2003-2004': 106}       
dutch_ids = {'2020-2021': ''
            ,'2019-2020': 3269
            ,'2018-2019': 2231
            ,'2017-2018': 1625
            ,'2016-2017': 1520
            ,'2015-2016': 1462
            ,'2014-2015': 728
            ,'2013-2014': 664
            ,'2012-2013': 597
            ,'2011-2012': 529
            ,'2010-2011': 462
            ,'2009-2010': 394
            ,'2008-2009': 333
            ,'2007-2008': 277
            ,'2006-2007': 224
            ,'2005-2006': 179
            ,'2004-2005': 142
            ,'2003-2004': 108
            ,'2002-2003': 80
            ,'2001-2002': 61
            ,'2000-2001': 46}
russia_ids = {'2020-2021': ''
            ,'2019-2020': 3285
            ,'2018-2019': 2371
            ,'2017-2018': 1646
            ,'2016-2017': 1541
            ,'2015-2016': 1482
            ,'2014-2015': 748
            ,'2013-2014': 683
            ,'2012-2013': 617
            ,'2011-2012': 551
            ,'2010': 446
            ,'2009': 378
            ,'2008': 320
            ,'2007': 264
            ,'2006': 214
            ,'2005': 171
            ,'2004': 135
            ,'2003': 102
            ,'2002': 77
            ,'2001': 58}
korea_ids = {'2020': ''
            ,'2019': 3930
            ,'2018': 1771
            ,'2017': 1575
            ,'2016': 1508
            ,'2015': 1230
            ,'2014': 713}
australia_ids = {'2019-2020': ''
            ,'2018-2019': 2381
            ,'2017-2018': 1617
            ,'2016-2017': 1512
            ,'2015-2016': 1453
            ,'2014-2015': 713
            ,'2013-2014': 655
            ,'2012-2013': 588
            ,'2011-2012': 520
            ,'2010-2011': 453
            ,'2009-2010': 385
            ,'2008-2009': 327
            ,'2007-2008': 271
            ,'2006-2007': 220
            ,'2005-2006': 175}

In [4]:
belgium = get_data(belgium_ids, 37, "Belgium First Division A", "M")
belgium.head()

NEW YEAR:  2020-2021
not found
2020-2021 standard
not found
2020-2021 keeper
not found
2020-2021 shooting
not found
2020-2021 playing_time
not found
2020-2021 misc
NEW YEAR:  2019-2020
NEW YEAR:  2018-2019
NEW YEAR:  2017-2018
NEW YEAR:  2016-2017
NEW YEAR:  2015-2016
NEW YEAR:  2014-2015
NEW YEAR:  2013-2014
NEW YEAR:  2012-2013
NEW YEAR:  2011-2012
NEW YEAR:  2010-2011
NEW YEAR:  2009-2010
NEW YEAR:  2008-2009
NEW YEAR:  2007-2008
NEW YEAR:  2006-2007
NEW YEAR:  2005-2006
NEW YEAR:  2004-2005
NEW YEAR:  2003-2004

,Season,League,Gender,Squad,# Pl,Poss,"(Playing Time, MP)","(Playing Time, Starts)","(Playing Time, Min)","(Performance, Gls)",...,"(Performance, 2CrdY)","(Performance, Fls)","(Performance, Fld)","(Performance, Off)","(Performance, Crs)","(Performance, Int)","(Performance, TklW)","(Performance, PKwon)","(Performance, PKcon)","(Performance, OG)"
0,2019-2020,Belgium First Division A,M,Anderlecht,34.0,NaN,29.0,319.0,2610.0,44.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2019-2020,Belgium First Division A,M,Antwerp,26.0,NaN,29.0,319.0,2610.0,47.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2019-2020,Belgium First Division A,M,Cercle Brugge,36.0,NaN,29.0,319.0,2610.0,25.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,2019-2020,Belgium First Division A,M,Charleroi,23.0,NaN,29.0,319.0,2610.0,48.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2019-2020,Belgium First Division A,M,Club Brugge,28.0,NaN,29.0,319.0,2610.0,57.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [5]:
belgium.to_csv('belgium_team_scraped.csv', sep='|', index=False)

In [6]:
dutch = get_data(dutch_ids, 23, 'Dutch Eredivise', "M")
dutch.head()

NEW YEAR:  2020-2021
NEW YEAR:  2019-2020
NEW YEAR:  2018-2019
NEW YEAR:  2017-2018
NEW YEAR:  2016-2017
NEW YEAR:  2015-2016
NEW YEAR:  2014-2015
NEW YEAR:  2013-2014
NEW YEAR:  2012-2013
NEW YEAR:  2011-2012
NEW YEAR:  2010-2011
NEW YEAR:  2009-2010
NEW YEAR:  2008-2009
NEW YEAR:  2007-2008
NEW YEAR:  2006-2007
NEW YEAR:  2005-2006
NEW YEAR:  2004-2005
NEW YEAR:  2003-2004
NEW YEAR:  2002-2003
NEW YEAR:  2001-2002
NEW YEAR:  2000-2001

,Squad,# Pl,Poss,"(Playing Time, MP)","(Playing Time, Starts)","(Playing Time, Min)","(Performance, Gls)","(Performance, Ast)","(Performance, PK)","(Performance, PKatt)",...,"(Performance, Off)","(Performance, Crs)","(Performance, Int)","(Performance, TklW)","(Performance, PKwon)","(Performance, PKcon)","(Performance, OG)",Season,League,Gender
0,ADO Den Haag,22,44.7,6,66,540.0,6,4,2,2,...,5.0,85.0,74.0,71.0,NaN,NaN,1.0,2020-2021,Dutch Eredivise,M
1,Ajax,22,62.3,6,66,540.0,24,18,3,3,...,12.0,122.0,59.0,62.0,NaN,NaN,0.0,2020-2021,Dutch Eredivise,M
2,AZ Alkmaar,20,52.8,5,55,450.0,12,8,0,1,...,13.0,89.0,59.0,31.0,NaN,NaN,0.0,2020-2021,Dutch Eredivise,M
3,Emmen,20,56.5,6,66,540.0,7,3,0,0,...,13.0,97.0,66.0,55.0,NaN,NaN,1.0,2020-2021,Dutch Eredivise,M
4,Feyenoord,22,56.8,6,66,540.0,14,6,3,4,...,14.0,118.0,76.0,92.0,NaN,NaN,0.0,2020-2021,Dutch Eredivise,M

In [7]:
dutch.to_csv('dutch_team_scraped.csv', sep='|', index=False)

In [8]:
russia = get_data(russia_ids, 30, 'Russian Premier League', "M")
russia.head()

NEW YEAR:  2020-2021
NEW YEAR:  2019-2020
NEW YEAR:  2018-2019
NEW YEAR:  2017-2018
NEW YEAR:  2016-2017
NEW YEAR:  2015-2016
NEW YEAR:  2014-2015
NEW YEAR:  2013-2014
NEW YEAR:  2012-2013
NEW YEAR:  2011-2012
NEW YEAR:  2010
NEW YEAR:  2009
NEW YEAR:  2008
NEW YEAR:  2007
NEW YEAR:  2006
NEW YEAR:  2005
NEW YEAR:  2004
NEW YEAR:  2003
NEW YEAR:  2002
not found
2002 shooting
NEW YEAR:  2001

,Squad,# Pl,Poss,"(Playing Time, MP)","(Playing Time, Starts)","(Playing Time, Min)","(Performance, Gls)","(Performance, Ast)","(Performance, PK)","(Performance, PKatt)",...,"(Performance, Off)","(Performance, Crs)","(Performance, Int)","(Performance, TklW)","(Performance, PKwon)","(Performance, PKcon)","(Performance, OG)",Season,League,Gender
0,Akhmat Grozny,27,48.8,12,132,1080.0,14,9,4,7,...,25.0,248.0,146.0,170.0,NaN,NaN,0.0,2020-2021,Russian Premier League,M
1,Arsenal Tula,32,48.1,12,132,1080.0,15,13,1,1,...,16.0,240.0,156.0,121.0,NaN,NaN,0.0,2020-2021,Russian Premier League,M
2,CSKA Moscow,24,51.5,12,132,1080.0,24,17,1,1,...,29.0,208.0,178.0,119.0,NaN,NaN,0.0,2020-2021,Russian Premier League,M
3,Dynamo Mosc,25,47.3,12,132,1080.0,13,8,1,1,...,35.0,243.0,187.0,131.0,NaN,NaN,0.0,2020-2021,Russian Premier League,M
4,FC Khimki,28,43.3,12,132,1080.0,13,7,1,2,...,22.0,198.0,159.0,95.0,NaN,NaN,0.0,2020-2021,Russian Premier League,M

In [9]:
russia.to_csv('russia_team_scraped.csv', sep='|', index=False)

In [10]:
korea = get_data(korea_ids, 55, 'K League Classic', "M")
korea.head()

NEW YEAR:  2020
NEW YEAR:  2019
NEW YEAR:  2018
NEW YEAR:  2017
NEW YEAR:  2016
NEW YEAR:  2015
NEW YEAR:  2014

,Squad,# Pl,Poss,"(Playing Time, MP)","(Playing Time, Starts)","(Playing Time, Min)","(Performance, Gls)","(Performance, Ast)","(Performance, PK)","(Performance, PKatt)",...,"(Performance, Off)","(Performance, Crs)","(Performance, Int)","(Performance, TklW)","(Performance, PKwon)","(Performance, PKcon)","(Performance, OG)",Season,League,Gender
0,Busan I'Park,31,NaN,26,286,2340,24,16,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2020,K League Classic,M
1,Daegu,26,NaN,26,288,2340,41,32,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2020,K League Classic,M
2,FC Seoul,32,NaN,26,286,2340,21,14,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2020,K League Classic,M
3,Gangwon,23,NaN,26,286,2340,34,22,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2020,K League Classic,M
4,Gwangju FC,29,NaN,26,286,2340,32,23,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2020,K League Classic,M

In [11]:
korea.to_csv('korea_team_scraped.csv', sep='|', index=False)

In [12]:
australia = get_data(australia_ids, 65, 'A-League', "M")
australia.head()

NEW YEAR:  2019-2020
NEW YEAR:  2018-2019
NEW YEAR:  2017-2018
NEW YEAR:  2016-2017
NEW YEAR:  2015-2016
NEW YEAR:  2014-2015
NEW YEAR:  2013-2014
NEW YEAR:  2012-2013
NEW YEAR:  2011-2012
NEW YEAR:  2010-2011
NEW YEAR:  2009-2010
NEW YEAR:  2008-2009
NEW YEAR:  2007-2008
NEW YEAR:  2006-2007
NEW YEAR:  2005-2006

,Squad,# Pl,Poss,"(Playing Time, MP)","(Playing Time, Starts)","(Playing Time, Min)","(Performance, Gls)","(Performance, Ast)","(Performance, PK)","(Performance, PKatt)",...,"(Performance, Off)","(Performance, Crs)","(Performance, Int)","(Performance, TklW)","(Performance, PKwon)","(Performance, PKcon)","(Performance, OG)",Season,League,Gender
0,Adelaide,27,50.8,26,286,2340.0,43,29,3,6,...,30.0,608.0,306.0,262.0,1.0,3.0,0.0,2019-2020,A-League,M
1,Brisbane,27,51.9,26,286,2340.0,29,22,4,4,...,44.0,543.0,262.0,210.0,0.0,0.0,1.0,2019-2020,A-League,M
2,Central Coast,25,48.1,26,286,2340.0,25,15,5,5,...,44.0,611.0,345.0,267.0,1.0,3.0,3.0,2019-2020,A-League,M
3,Melb City,25,51.7,26,286,2340.0,48,37,5,5,...,39.0,579.0,350.0,285.0,1.0,1.0,1.0,2019-2020,A-League,M
4,Melb Victory,30,48.7,26,286,2340.0,31,23,3,3,...,51.0,513.0,292.0,250.0,0.0,0.0,2.0,2019-2020,A-League,M

In [13]:
australia.to_csv('australia_team_scraped.csv', sep='|', index=False)